<div class="song{{song_number}}" data-song="{{name}}" data-artist="{{artist}}">
  <div class="cardHead">
    <h3>Song {{song_number}}</h3>
    <div id="imageContainer">
      <img src="{{album_art_medium}}" alt="{{album_name}}" class="albumart">
        <div id="mobileButton">
            <i class="fas fa-play" style="font-size: 90px; color: rgba(255,255,255,0.7);"></i>
        </div>
    </div>
    <progress id="seekbar" value="0" max="1" style="width: 100%;"></progress>
  </div>
  <div class="flip-container">
    <div class="flipper">
      <div class="front">
        <audio class="songSample" controls preload="auto">
          <source src="{{preview_url}}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        <button type="button" name="Guess the Song" class="btn btn-primary guessSong">
            <i class="fas fa-question" style="font-size: 90px;"></i>
            <br>
            Guess the Song</button></div>
      <div class="back">
        <ul class="choice_list">
          <!-- loop through choice array object attribute -->
          {{#each choices}}
            <li class="choice1" data-song="{{this}}" data-artist="{{../artist}}">
              <!-- fill in choice array here -->
              <span class="artist">{{../artist}}</span><br>{{this}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
